                    /*Resetting*/
*::after,
*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*{ 
    box-shadow: 0px 0px 0px 1px black;
}*/




                    /*Global*/
body {
    background-color: #999999;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    cursor: default;
}

body p{
    margin: 0px;
    padding: 0px;
}
                    /*Nav*/


                    /*News Bulletin*/
/* .bulletin{
    visibility: hidden;
    position: absolute;
    display: flex;
    background-position: 10% 10%; 
    justify-content: flex-start;
    align-items: center;
    font-family: "inconsolata" , sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #339933;
} */

                    /*Main body*/

                    /*Cover section*/
.cover_section{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: #eee;
}

/* .cover_img{
    width: 100%;
    height: 400px;
    background-color: #eee;
    background :url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}  */


/* .overlay {
    display: flex;
    width:100%;
    height: 400px;
    align-items: center;
    justify-content: center;
} */

                    /*Cover-container*/
/* .card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #663399;
    padding :20px;
    border-radius: 10px; 
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px #000; 
    background-color: rgba(0,0,0,0.8);
} */

.cover_section h1{
/*    font-weight: 700;*/
    margin: 30px 0px;
    padding: 0px;
    font-family: 'Lobster', cursive;
/*    line-height: 1.5;*/
/*    letter-spacing: 2px;*/
    color: #000;
}
/* .cover_section p{

    color: #999999;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
} */
.cover_section a:hover{
    text-decoration: none;
    color:#fff;
}

.get_started{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 160, 115);
    border: 0px;
    height: 40px;
    width: 180px;
    padding: 5px;
    border-radius: 3px;
    align-self: center;
    color: #fff;
}

.get_started:hover{
    transition: 200ms all ease-out;
    width: 200px;
    background-color: rgb(20, 120, 85);
}

            /*Signup*/

                            /*Tab*/


.tab_section{
/*    position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
/*    padding: 10px;*/
    height: 50px;
}

.tab {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1EA075;
}

.tab .input {
    border: 0px solid #1EA075;
    width: 80%;
    padding: 2px 5px;
}
/* .tab .categorybox{  

} */
.tab .searchbox{
/*    border-left: 0px;*/
}
.searchbar .search_logo {
    padding: 5px;
    height: auto;
}
*/


                        /*Carousal*/
/*
.carousal{
    display: flex;
    color: wheat;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:100%;
    background-color: #481C7C;
}
*/


                        /*Categories*/
.categories{
    display: flex;
    position: relative;
    height: 100%;
    width:100%;
    flex-direction: column;
    background-color: rgba(0,0,0,0.1);
    
}
.categories h3{
    width: 100%;
    text-transform: uppercase;
}
.CT_container{
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 30px 0px 20px;
    align-items:center;
    justify-content: space-around;
}
.thumbs{
    display: flex;
    border: 0px;
    margin: 10px;
    width:  140px;
    height: 180px;
    background-color: #fff;
    border-radius: 2px ;
    box-shadow: 0px 0px 10px darkgray; 
    flex-direction: column;
    overflow: hidden;
    top:30px;
}

.thumbs .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
}
.thumbs .title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
}

.thumbs .icon{
    height: 60%;
    width: 60%;
    color: red;
}

.thumbs:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 13px #1EA075; 
    transition: 100ms ease-in-out;
}
.info_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    align-self: flex-end;
    width: 100%;
    background-color: #1EA075;
    border: 0px;
}
.background {
    background-color: #fff;
    padding: 30px 10px 30px;
    height: auto;
    width: 100%;
}
/*
.circles{
    z-index: 0;
    position: relative;
    height: 500px;
    opacity: 0.8;
}
.circles .circle1{
    position: absolute;
    background-color: #663399;
    top: -30px;
    left: -100px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation : circle 8s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle2{
    position: absolute;
    background-color: #663399;
    bottom:-90px;
    right:-90px;
    width: 300px;
    height: 300px;
    border-radius: 50%;animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle3{
    position: absolute;
    background-color: #663399;
    top: 260px;
    left:80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation : circle 7s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle4{
    position: absolute;
    background-color: #663399;
    top: 60px;
    right:120px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes circle {
    0% { transform: scale(1);}
    50% {transform: scale(1.3);}
    100%{transform: scale(1);}
}
*/


                        /*footer*/

.page_footer{
    display: flex;
    font-size: 11px;
    color:#fff;
    height: 250px;
    font-family: roboto,sans-serif;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
}
.wrap_one{
    display: flex;
    Width:50%;
    align-items: center;
    padding: 30px;
    height: 200px;
/*    border-right:  1px solid rgba(255,255,255,0.1);*/
    flex-direction: column;
}
.wrap_two{
    
    display: flex;
    Width:50%;
    height: 200px;
    padding: 20px;
    flex-direction: column;
}

.wrap_two ul{
    list-style-type: none;
    margin: 5px;
    
}
.wrap_three{
    display: flex;
    width:100%;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.1);
    align-items: center;
    justify-content: center;
}
.wrap_one .Fcaption{
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    letter-spacing: 2px;
}
.Fcaption a{
    color: #fff;
}
.Fcaption a:hover{
    color: #663399;
    text-decoration: none;
}
.wrap_two .Fcaption{
    font-weight: bold;
    width: 100%;
    letter-spacing: 2px;
}


/*Tablet*/

@media all and (min-width: 600px) {

.connection_section{
    width: 500px;
}

.tab {
    
    width: 700px;
    
    
}    
}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}
