/*Global*/
:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
    --success_color:rgb(0,255,0,1);
}


/*News Bulletin*/

/* .bulletin{
    visibility: hidden;
    position: absolute;
    display: flex;
    background-position: 10% 10%; 
    justify-content: flex-start;
    align-items: center;
    font-family: "inconsolata" , sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #339933;
} */

                /*Cover section*/
.cover_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
/*    background-color: blue;*/
}
.cover_image{
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image : url("../images/cover_low.jpg");
    background-position: center;
    background-color: rgba(0,0,0,0.8); 
    background-size: cover;
    background-repeat: no-repeat;
}
.gradient{
    display: flex;
    width: 100%;
    height: 100%;
/*    opacity: 0.8;*/
    
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
/*    background-image:linear-gradient(135deg,hsla(340,80%,40%,0.7)50%,hsla(340,80%,40%,0.2));*/
    background-color:rgba(0,0,0,0.6);

}
.c_container{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 280px;
    justify-content: center;
    align-items: center;
/*    background-color: crimson;*/
}

.c_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
/*    background-color: black;*/
}

.c_header{
    width: 100%;
    display: flex;
    height: 190px;
    flex-direction: column;
    justify-content: flex-start;
/*    background-color: blue;*/
/*    align-items: center;*/
}
.c_subheader{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
/*    background-color: chartreuse;*/
   
}
.c_subheader a:hover{
   text-decoration: none;
}

.c_header h1{
    font-family: 'Lobster', cursive;
/*    font-family: 'Carter One', cursive;*/
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
.c_header p{
    font-size: 1em;
/*    color: var(--pcolor);*/
/*    opacity: 0.6;*/
    line-height: 1.3;
    margin-top: 10px;
}

.last{
display: flex;
padding:8px; 
/*    background-color: darkmagenta;*/
justify-content: flex-end;
}
.last p{
    font-size: 0.7em;
    color: #fff;
}
.last p a{
    color: #fff;
    text-decoration: none;
}

.c_button{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 40px;
    font-size: 0.9em;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
    border-radius: 5px;
}
.c_button p{
    font-weight: bold;
    text-decoration: none;
}

.signin_button{
    background-color: var(--scolor);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    border: 0px;
}
.signin_button p{
    color:#000;
}
.signin_button:hover{
    background-color: var(--pcolor);
}
.signin_button:hover > p{
    color:#fff ;
    text-decoration: none;
}

.login_button {
    background-color: transparent;
    border: 2px solid var(--scolor);
}
.login_button p{
    color:var(--scolor);
}
.login_button:hover{
    border-color: var(--success_color);
}
.login_button:hover > p{
    color: var(--success_color);
    text-decoration: none;
}

         /*Search tab*/

.tab_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--pcolor);
}

.tab_container{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: #fff;
}

.search_text{
    display: flex;
    background-color: var(--pcolordark);
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.search_text:hover{
    background-color: var(--pcolordarker);
}

.searchbox_container{
/*   background-color: aqua;*/
    max-width: 300px;
    flex: 1;
/*    margin-left: 10px;*/
   
    height: 100%;
    display: flex;
}

.searchbox_container .input{
    width:100%;
    height: 100%;
    border: 0px solid #1EA075;
    padding: 0px 9px;
    
}

/* .tab .categorybox{  

} */
/*
.tab .searchbox{
    border-left: 0px;
}
*/
/*
.searchbar .search_logo {
    padding: 5px;
    height: auto;
}
*/

.search_icon_container{
    display: flex;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--pcolor);
    color: #fff;
    background-color: rgba(255,255,255,1);
}

.search_icon{
    background-image: url("../icons/search.svg");
    fill:#fff;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}




                  /*Categories*/
.categories_section{
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
/*    height:700px;*/
    width:100%;
    flex-direction: column;
/*    background-color: red;*/
}
.categories_section .ct_header{
    width: 100%;
    margin-top:20px; 
    padding: 10px;
    height: auto;
    font-weight: bold;
    font-size: 1.3em;
/*    background-color: yellow;*/
}

.ct_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
      padding: 20px 0px;
    justify-content: space-around;
/*    background-color: yellow;*/
}

.thumbs{
    display: flex;
    margin: 10px;
    width:  140px;
    height: 180px;
    padding: 4px;
    background-color: #fff;
/*    border-radius: px ;*/
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3); 
    flex-direction: column;
    justify-content: space-between
}

.thumbs:hover{
    transform: scale(1.03);
    transition: 100ms ease-in-out;
}

.thumbs .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
}
.thumbs .c_icon{
    height: 60%;
    width: 60%;
/*    color: red;*/
}

.t_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    width: 100%;
    background-color: var(--pcolor);
}

/*
.circles{
    z-index: 0;
    position: relative;
    height: 500px;
    opacity: 0.8;
}
.circles .circle1{
    position: absolute;
    background-color: #663399;
    top: -30px;
    left: -100px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation : circle 8s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle2{
    position: absolute;
    background-color: #663399;
    bottom:-90px;
    right:-90px;
    width: 300px;
    height: 300px;
    border-radius: 50%;animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle3{
    position: absolute;
    background-color: #663399;
    top: 260px;
    left:80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation : circle 7s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle4{
    position: absolute;
    background-color: #663399;
    top: 60px;
    right:120px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes circle {
    0% { transform: scale(1);}
    50% {transform: scale(1.3);}
    100%{transform: scale(1);}
}
*/

/*Resposive*/
@media all and (min-width: 600px) {
    
}
/*Desktop*/
@media all and (min-width: 900px) {

}


