/*News Bulletin*/

/* .bulletin{
    visibility: hidden;
    position: absolute;
    display: flex;
    background-position: 10% 10%; 
    justify-content: flex-start;
    align-items: center;
    font-family: "inconsolata" , sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 30px;
    color: #fff;
    background-color: #339933;
} */

                /*Cover section*/
.cover_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
/*    background-color: blue;*/
}
.cover_image{
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    background-image : url("../images/cover.jpg");
    background-position: center;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
}
.gradient{
    display: flex;
    width: 100%;
    height: 100%;
/*    opacity: 0.8;*/
    
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
    background-image:linear-gradient(135deg,hsla(120,80%,30%,0.7)50%,hsla(120,80%,30%,0.2));
}

.w90{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 280px;
    justify-content: space-between;
    align-items: center;
}
.c_row {
    display: flex;
    flex-direction: column;
    width: 100%;
/*    background-color: black;*/
}

.c_header h1{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.c_header p{
    font-size: 1em;
    line-height: 1.3;
    margin-top: 10px;
}

.c_subheader p{
    font-size: 0.8em;
    color: #fff;
    align-self: flex-end;
}
.c_subheader p a{
    color: #fff;
    text-decoration: none;
}

.c_button {
    font-family: 'Open Sans', sans-serif;
    width: 170px;
    height: 40px;
    font-size: 0.8em;
    background-color: hsla(338,70%,40%,1);
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
    border: 0px;
    margin: 8px 0px;
    border-radius: 5px;
}
.c_button:hover{
    background-color: #B71543;
}

.c_button a{
    color: #fff;
    text-decoration: none;
}
.c_button a:hover{
    color: #fff;
    text-decoration: none;
}
         /*Search tab*/

.tab_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1D6C4B;
}
.tab .input {
    border: 0px solid #1EA075;
    padding: 2px 15px;
    border-radius: 4px;
}
/* .tab .categorybox{  

} */
/*
.tab .searchbox{
    border-left: 0px;
}
*/
/*
.searchbar .search_logo {
    padding: 5px;
    height: auto;
}
*/

                  /*Categories*/
.categories_section{
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
/*    height:700px;*/
    width:100%;
    flex-direction: column;
/*    background-color: red;*/
}
.categories_section .ct_header{
    width: 100%;
    margin-top:20px; 
    padding: 10px;
    height: auto;
    font-weight: bold;
    font-size: 1.3em;
/*    background-color: yellow;*/
}

.ct_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items:center;
      padding: 20px 0px;
    justify-content: space-around;
/*    background-color: yellow;*/
}


.thumbs{
    display: flex;
    margin: 10px;
    width:  140px;
    height: 180px;
    padding: 4px;
    background-color: #fff;
/*    border-radius: px ;*/
    box-shadow: 0px 0px 8px 0px gray; 
    flex-direction: column;
    justify-content: space-between
}
.thumbs:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px #1EA075; 
    transition: 100ms ease-in-out;
}

.thumbs .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
}
.thumbs .icon{
    height: 60%;
    width: 60%;
/*    color: red;*/
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 40px;
    width: 100%;
    background-color: #1D6C4B;
}

/*
.circles{
    z-index: 0;
    position: relative;
    height: 500px;
    opacity: 0.8;
}
.circles .circle1{
    position: absolute;
    background-color: #663399;
    top: -30px;
    left: -100px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    animation : circle 8s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle2{
    position: absolute;
    background-color: #663399;
    bottom:-90px;
    right:-90px;
    width: 300px;
    height: 300px;
    border-radius: 50%;animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle3{
    position: absolute;
    background-color: #663399;
    top: 260px;
    left:80px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation : circle 7s infinite;
    animation-timing-function: ease-in-out;
}
.circles .circle4{
    position: absolute;
    background-color: #663399;
    top: 60px;
    right:120px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation : circle 5s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes circle {
    0% { transform: scale(1);}
    50% {transform: scale(1.3);}
    100%{transform: scale(1);}
}
*/

/*Resposive*/

@media all and (min-width: 600px) {
}
/*Desktop*/
@media all and (min-width: 900px) {

}


