:root{
    --pcolor:hsla(350,70%,50%,1);
    --pcolordark:hsla(350,70%,35%,1);
    --pcolordarker:hsla(350,70%,30%,1);
    --scolor:hsla(43,90%,50%,1);
}


.body_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 700px;
    padding: 20px;
    justify-content: center;
    align-items: center;
/*    background-color: aqua;*/
    background-image: url("../images/signup_bg.jpg");
    background-size: cover;
    opacity: 1;
    background-position: center;
}

.fcontainer_outer{
    display: flex;
    padding: 20px;
    min-width:300px; 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
    background-color:rgba(255,0,0,0.13);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.fcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
}


.fheader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
/*     background-color: rgba(0,0,0,0.4);*/
    justify-content: center;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--pcolor);
}
.heading{
    font-family: 'Staatliches', sans-serif;
/*    text-transform: uppercase;*/
}
.heading h2{
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0px;
    color: var(--pcolor);
    padding: 0px;
}
.heading p{
    padding: 0px;
    margin: 0px;
}
.heading a{
/*    font-style: italic;*/
    color: var(--pcolor) !important;
    cursor: pointer;
/*    font-weight: bold;*/
}


.inner_container{
    display: flex;
    width: 100%;
    padding: 15px;
/*    padding: 10px;*/
/*    background-color: green;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
/*    flex-direction: column;*/
    margin-bottom: 15px;
}
.inner_container .caption{
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    align-content: center;
}
.inner_container .textbox{
    border: 1px solid var(--pcolor);
    border-radius: 3px;
    height: 2rem;
    padding: 0px 8px;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.0);
    box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.inner_container .textbox:focus{
    box-shadow:0px 0px 8px 0px var(--pcolor);
}
.inner_container .textbox:focus{
    outline: 0px;
}

.inner_container .w50{
    width: 49%;   
}
.inner_container .w100{
    width: 100%;
}

.button{
   
    display: flex;
    align-content: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: var(--pcolor);
    color: #fff;
    border: 0px;
}
.button:hover{
    border: 2px solid var(--pcolor); 
    background-color: transparent;
    color: var(--pcolor);
}

.button:focus{
    outline: 0px;
}

.inner_container p{ 
    font-size: 0.9rem;
    margin-top: 10px;
}


/*Tablet*/

@media all and (min-width: 600px) {
    .fcontainer{
        
    }
}

/*Desktop*/
@media all and (min-width: 900px) {
    



    
}
